# macOS
.DS_Store

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TypeScript
.cache/*
src/**/*.d.ts
src/**/*.js
src/**/*.js.map

# Re-include test files
!src/**/*.test.js
!src/**/test.js
